RESPONSEFILE_VERSION=2.2.1.0.0
s_shiphomeLocation="{{ software_repository_path }}/siebel-{{target_platform}}-{{ siebel_version }}/Siebel_Install_Image/16.0.0.0/AIX/Server/Siebel_Web_Server_Extension/Disk1"
FROM_LOCATION="{{ software_repository_path }}/siebel-{{target_platform}}-{{ siebel_version }}/Siebel_Install_Image/16.0.0.0/AIX/Server/Siebel_Web_Server_Extension/Disk1/stage/products.xml"
s_topLevelComp="oracle.siebel.eappweb"
s_SiebelVersion="16.0.0.0.0"
s_installType="New Installation"
ORACLE_HOME="{{siebel_base_path}}/swe/Siebel/16.0.0.0.0/eappweb"
ORACLE_HOME_NAME="EAPPWEB_HOME"
b_isGatewayInstalled="false"
b_isSiebsrvrInstalled="false"
b_isDBInstalled="false"
b_isEAIInstalled="false"
selectedLangs="[English, German]"
s_txt_seedValue="foo"
DEINSTALL_LIST={"oracle.siebel.eappweb","16.0.0.0.0"}
SHOW_DEINSTALL_CONFIRMATION=true