AppServerHostName={{ansible_hostname}}
ConfigMode=VERT
ConfigTask=ConfigureSWSEPhysical
current_section=ConfigurephysicalSWSEUNIX
current_step=RestartWebServer
DeployedLanguage=enu
DeployMAF=
DoubleQuote="
eappscfgExists={{ siebel_base_path }}/gw/16.0.0.0.0/ses/gtwysrvr/admin/Webserver/eapps.cfg
eappsprofile={{ siebel_base_path }}/gw/16.0.0.0.0/ses/gtwysrvr/admin/Webserver
EnableVirtualHosts=false
EnterpriseServer=
first_section=InitialSetup
first_step=MainTask
GatewayAddress=
GatewayCreateDefaultRead=
GatewayUseDefaultRead=
HostName={{ansible_hostname}}
HTTPPort=80
LoadBalancerOption=SingleServer
LoadBalancingServer={{ groups['siebel-server'][0] }}:2321
MainTask=Create
MSSQL_DRIVER_NAME=SQL Server Native Client 11.0
OperatingSystem=aix
OSDirSeparator=/
OSType=ppc
RequestComponent=SRMSynch
RequestServer=
RestartWebServer=false
SCBPort=2321
SiebelBinDir={{ siebel_base_path }}/swe/Siebel/16.0.0.0.0/eappweb/bin
SiebelDbsrvrRoot={{ siebel_base_path }}/swe/Siebel/16.0.0.0.0/eappweb/dbsrvr
SiebelEncryption=
SiebelHome={{ siebel_base_path }}/swe/Siebel/16.0.0.0.0/eappweb
SiebeLibDir={{ siebel_base_path }}/swe/Siebel/16.0.0.0.0/eappweb/lib
SiebelInstalledDir={{ siebel_base_path }}/swe/Siebel/16.0.0.0.0/eappweb
SiebelLanguage=ENU
SiebelLogArch=
SiebelLogDir=
SiebelLogEvents=
SiebelLogFile=
SiebelMaxThreads=
SiebelMsgDir={{ siebel_base_path }}/swe/Siebel/16.0.0.0.0/eappweb/locale/enu
SiebelPassword=
SiebelProgName=
SiebelRoot={{ siebel_base_path }}/swe/Siebel/16.0.0.0.0/eappweb
SiebelRootParm=-r {{ siebel_base_path }}/swe/Siebel/16.0.0.0.0/eappweb
SiebelTableOwner=
SiebelTempDir={{ siebel_base_path }}/swe/Siebel/16.0.0.0.0/eappweb/temp
SiebelUser=
SiebelVersion=16.0.0.0SIA[23057]ENU
SWSERoot={{ siebel_base_path }}/swe/Siebel/16.0.0.0.0/eappweb
SWSEServer={{ siebel_base_path }}/swe/Siebel/16.0.0.0.0/eappweb/Admin/Webserver
TraceLevel=1
UnicodeEnable=
WebServerInstance={{ siebel_base_path }}/wt/Middleware/Oracle_WT1/ohs