imageVersion="{{ siebel_version }}"
imageDirectory="{{ software_repository_path }}/siebel-{{target_platform}}-{{ siebel_version }}/Siebel_Install_Image"
platformList={AIX}
productList={Siebel_Enterprise_Server,UPT_Analytics,Remote_Diagnostic_Agent,Automated_Test_Scripts}
languageList={ENU,DEU}

