imageVersion="{{ siebel_version }}"
imageDirectory="{{ software_repository_path }}/siebel-{{target_platform}}-{{ siebel_version }}/Siebel_Install_Image"
platformList={Linux}
productList={Siebel_Enterprise_Server}
languageList={ENU,DEU}

