imageVersion="{{ siebel_version }}"
imageDirectory="{{ software_repository_path }}/siebel-win-{{ siebel_version }}/Siebel_Install_Image"
platformList={Windows}
productList={ORACLE_XE_Sample_Database_64_Bit}
languageList={ENU}

