imageVersion="{{ siebel_version }}"
imageDirectory="{{ software_repository_path }}/siebel-win-{{ siebel_version }}/Siebel_Install_Image"
platformList={Windows}
productList={Siebel_Tools,Siebel_Enterprise_Server,Siebel_Web_Client,ORACLE_XE_Sample_Database_64_Bit}
languageList={ENU}

