AnonLoginPassword=zW/HKRk81gbe5I0tbnTfCQEAAI5Z
AnonLoginPasswordInput=guestcst
AnonLoginUserName=GUESTCST
CACertFileName=
CertFileNameServer=
ConfigMode=VERT
ConfigTask=ConfigureServerLogical,ConfigureServerPhysical
ConnectorDll=sscdo90
ConnectString=orcl
current_section=SiebelRestfulConfigforSiebelServer
current_step=AnonLoginPasswordInput
CurrentRegistryRoot=HKEY_LOCAL_MACHINE
DatabasePlatform=OracleCBO
DbSrvrConfigSplash=Warning: Before configuring the Siebel Server, make sure you have an existing Siebel Database available or have already performed the Install Database task in the Database Configuration Wizard.

DBUsername=SADMIN
DBUserpasswd=EGYmXakRA/kBAADUVQ==
DeployedLanguage=enu
DisableAllSiebCompGroups=ADM,Sales,eChannel,CallCenter,FieldSvc,Remote,RTSRemote,AsgnMgmt,CommMgmt,DandB,DataQual,DCommerce,EAI,eDocuments,IComp,ContCtr,MktgOM,MktgSrv,SiebAnywhere,S2S,Search,SAP,ORCL,ISS,Workflow,HandheldSync,SalesHierSvc,FcstSvc,CreditAsgn,CRA,RTI,TaskUI,XMLPReport,MobileSync
DisableAllSiebCompGroupsSIA=HandheldSyncSIS,eAutomotive,HTIM,LifeSciences,Communications,Loyalty,LoyaltyEngine,Hospitality,eConsumer,SISME,Fins,UCM,PublicSector
DoubleQuote="
EnableCompGroupsSIA=Communications
EnterpriseServer=SBA_82
first_section=InitialSetup
first_step=MainTask
GatewayAddress={{ groups['gateway-server'][0] }}:2320
GatewayCreateDefaultRead=SBA_82
GatewayUseDefaultRead=SBA_82
Host={{ansible_hostname}}
HostName={{ansible_hostname}}
InstallDir={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr
KeyFileName=
LocalSynchMgrPort=40400
MainTask=Create
MaxCursorSize=-1
ModifyServerTask=
MSSQL_DRIVER_NAME=SQL Server Native Client 11.0
NameserverHostName={{ groups['gateway-server'][0] }}
NamesrvrPort=2320
NSServerHostname={{ groups['gateway-server'][0] }}
ODBCDataSource=SBA_82_DSN
ODBCEntDriver={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr/lib/SEor827.so
OperatingSystem=aix
OSDirSeparator=/
OSType=ppc
Password=nimdas
PrefetchSize=-1
PrimaryLanguage=enu
RequestComponent=SRMSynch
RequestServer={{ansible_hostname}}
SCBPort=2321
ServerLang=enu
SetNSServerRootDir={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr
SetServerVersionString=16.0.0.0SIA[23057]ENU
SetSiebelServerDesc=Siebel Server Profile
SetSiebRemotePortWorkaround=40400
SibelAnyDesc=SQL Anywhere
SiebelAnyDB={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr/dbtempl/siebel.dbf
SiebelAnyDriver={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr/SYBSsa90/lib/libdbodbc9.so
SiebelBinDir={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr/bin
SiebelDbsrvrRoot={{siebel_base_path}}/ses/16.0.0.0.0/ses/dbsrvr
SiebelEncryption=
SiebelEnterprise=SBA_82
SiebelGateway={{ groups['gateway-server'][0] }}:2320
SiebelHome={{siebel_base_path}}/ses/16.0.0.0.0/ses
SiebeLibDir={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr/lib
SiebelInstalledDir={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr
SiebelLanguage=ENU
SiebelLogArch=
SiebelLogDir={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr/enterprises/SBA_82/{{ansible_hostname}}/log
SiebelLogEvents=
SiebelLogFile=
SiebelMaxThreads=
SiebelMsgDir={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr/locale/enu
SiebelPassword=
SiebelProgName=
SiebelRoot={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr
SiebelRootParm=-r {{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr
SiebelServer={{ansible_hostname}}
SiebelServerDesc=Siebel Server Profile
SiebelServerRoot={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr
SiebelTableOwner=
SiebelTempDir={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr/temp
SiebelUser=
SiebelVersion=16.0.0.0SIA[23057]ENU
SqlStyle=OracleCBO
SyncEndTime=000100
SyncPlannedCompletion=000100
SyncStartTime=000100
TableOwner=SIEBEL
tempdir={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr/temp
Trace=0
TraceDll={{siebel_base_path}}/ses/16.0.0.0.0/ses/siebsrvr/lib/SEtrc27.so
TraceFile=odbctrace.out
TraceLevel=1
UnicodeEnable=
UnixOracleDb2DriverName=MERANT 7.1 Oracle 12 Driver
UseOracleConnector=true
Username=sadmin
Vertical_Extension=_sia