CREATE BIGFILE TABLESPACE "{{item}}" DATAFILE '{{oracle_base_path}}/base/oradata/orcl/{{item}}.dbf' SIZE 2G AUTOEXTEND ON NEXT 100M MAXSIZE UNLIMITED LOGGING EXTENT MANAGEMENT LOCAL SEGMENT SPACE MANAGEMENT AUTO
/
exit
/