[Upgrade]
Default Entry = TRUE
Username = sadmin
Key Value = aA8xMAOL5YC74uwM9wikfwUAAPc+
Key Value 2 = 00L/rN2o4s3xsFzBxa88bwUAAGTB
ODBC Data Source = SiebelInstall_DSN
Data Source = SiebelInstall_DSN
Table Owner = siebel
Siebel Root = {{siebel_base_path}}/ses/Siebel/ses/siebsrvr
Process Name = install
Language = ENU
Index Space = SINDEX
Table Space = SDATA
16K Table Space = $16KTableSpace
32K Table Space = $32KTableSpace
Repository Name = Siebel Repository
Repository File Name = {{siebel_base_path}}/ses/Siebel/ses/dbsrvr/common/mstrep.dat
Seed File Name = {{siebel_base_path}}/ses/Siebel/ses/dbsrvr/ENU/seed.dat
Language Specific Seed File Name = {{siebel_base_path}}/ses/Siebel/ses/dbsrvr/ENU/seed_locale.dat
Database Platform = oracle
Database Server = $DatabaseServer
Schema Qualifier = siebel
Database Owner = siebel
Unicode Flag = Y
Grantee = SSE_ROLE
Dbsrvr Root = {{siebel_base_path}}/ses/Siebel/ses/dbsrvr
Oracle Parallel Index = N
Keep All UpgWiz Files = 1
Database Schema Process = 1
Run Unattended = 1
Orchestrator Mode = 1
Resource Language = ENU
Siebel Log Directory = {{siebel_base_path}}/ses/Siebel/ses/siebsrvr/log/install/output
Siebel Log Events = 3
License Key = $LicenseKey
Master File Name = master_install.ucf

[Upgrade 1]
File Name = {{siebel_base_path}}/ses/Siebel/ses/dbsrvr\oracle\driver_install.ucf
Is Archived = 0
Title = install
