BaseLanguage=enu
BaseLanguageExists=BaseLanguageExists
ConfigAction=Install_Database
ConnectorDll=sscdo90
ConnectString=orcl
CPU=Single_CPU
CreateOrExistingEnterprise=CreateEnterprise
current_section=CommonParams
current_step=SiebelLogProcess
CurrentRegistryRoot=HKEY_LOCAL_MACHINE
DatabaseOwner=SIEBEL
DatabasePlatform=oracle
DatabaseVersion=Oracle
DBConnectString=orcl
DbsrvrRoot={{siebel_base_path}}/ses/Siebel/ses/dbsrvr
Dev2ProdSelectRepLocation=Dev2ProdExportFromSource
first_section=CommonParams
first_step=SiebelServerRootDbsrvrRoot
Grantee=SSE_ROLE
GrantstatPromptName=The GRANTUSR.SQL script must first be run by the database administrator (DBA) in order to  create the necessary Siebel users and roles before continuing.

HostName=md1lrhenk
IdCentricRoot=IdCentricRoot
ImprepFileName={{siebel_base_path}}/ses/Siebel/ses/dbsrvr/common/mstrep.dat
IndexSpace=SINDEX
InstallDir={{siebel_base_path}}/ses/Siebel/ses/siebsrvr
InstallPromptName=This confirms that you wish to install a new Siebel database. Running this step against an existing Siebel database may make that database unusable.

InstallSelectAction=Install_Primary_Language
InstallType=NotApplicable
InstallUnicodeFlag=UNICODE
JTCHelpURL=JTCHelpURL
LangSeedFileName={{siebel_base_path}}/ses/Siebel/ses/dbsrvr/ENU/seed_locale.dat
Language=ENU
LanguageTemp=enu
MainAction=Create
MasterFileName=master_install.ucf
MasterUCFFile={{siebel_base_path}}/ses/Siebel/ses/dbsrvr/oracle/master_install.ucf
MaxCursorSize=-1
MSSQL_DRIVER_NAME=SQL Server Native Client 11.0
ODBCDataSource=SiebelInstall_DSN
ODBCEntDriver={{siebel_base_path}}/ses/Siebel/ses/siebsrvr/lib/SEor827.so
OperatingSystem=aix
OracleParallelIndex=N
OSDirSeparator=/
OSType=ppc64
Password=nimdas
PrefetchSize=-1
ProcessName=install
RepFileName={{siebel_base_path}}/ses/Siebel/ses/dbsrvr/common/mstrep.dat
RepositoryName=Siebel Repository
ResourceLanguage=ENU
SeedFileName={{siebel_base_path}}/ses/Siebel/ses/dbsrvr/ENU/seed.dat
SelectAction=Install_Primary_Language
SiebelBinDir={{siebel_base_path}}/ses/Siebel/ses/siebsrvr/bin
SiebelDbsrvrRoot={{siebel_base_path}}/ses/Siebel/ses/dbsrvr
SiebelEncryption=
SiebelEnterprise=SiebelInstall
SiebelHome={{siebel_base_path}}/ses/Siebel/ses
SiebeLibDir={{siebel_base_path}}/ses/Siebel/ses/siebsrvr/lib
SiebelInstalledDir={{siebel_base_path}}/ses/Siebel/ses/siebsrvr
SiebelLanguage=ENU
SiebelLogArch=
SiebelLogDir={{siebel_base_path}}/ses/Siebel/ses/siebsrvr/log/install/output
SiebelLogEvents=3
SiebelLogFile=
SiebelLogProcess=install
SiebelMaxThreads=
SiebelMsgDir={{siebel_base_path}}/ses/Siebel/ses/siebsrvr/locale/enu
SiebelPassword=
SiebelProgName=
SiebelRoot={{siebel_base_path}}/ses/Siebel/ses/siebsrvr
SiebelServerRoot={{siebel_base_path}}/ses/Siebel/ses/siebsrvr
SiebelTableOwner=
SiebelTempDir={{siebel_base_path}}/ses/Siebel/ses/siebsrvr/temp
SiebelUser=
SiebelVersion=17.0.0.0SIA[23073]ENU
SqlStyle=OracleCBO
TableOwner=SIEBEL
TablePassword=siebel
TableSpace=SDATA
Trace=0
TraceDll={{siebel_base_path}}/ses/Siebel/ses/siebsrvr/lib/SEtrc27.so
TraceFile=odbctrace.out
UnicodeEnable=
UnicodeFlag=Y
UnixOracleDb2DriverName=MERANT 7.1 Oracle 12 Driver
UpglocaleFile={{siebel_base_path}}/ses/Siebel/ses/dbsrvr/ENU/upglocale.enu
UseOracleConnector=true
UserName=sadmin