RESPONSEFILE_VERSION=2.2.1.0.0
s_shiphomeLocation="{{ software_repository_path }}/siebel-{{target_platform}}-{{ siebel_version }}/Siebel_Install_Image/{{ siebel_version }}/{{target_platform}}/Server/Siebel_Enterprise_Server/Disk1"
FROM_LOCATION="{{ software_repository_path }}/siebel-{{target_platform}}-{{ siebel_version }}/Siebel_Install_Image/{{ siebel_version }}/{{target_platform}}/Server/Siebel_Enterprise_Server/Disk1/stage/products.xml"
s_topLevelComp="oracle.siebel.ses"
s_SiebelVersion="{{ siebel_version }}.0"
s_installType="New Installation"
ORACLE_HOME="{{siebel_base_path}}/gw/Siebel"
ORACLE_HOME_NAME="Siebel_Home__opt_siebel_gw_Siebel"
b_isGatewayInstalled="true"
b_isSiebsrvrInstalled="false"
b_isDBInstalled="false"
b_isEAIInstalled="false"
b_isApplicationInterfaceInstalled="false"
b_isEnterpriseCacheInstalled="false"
b_isConstraintEngineInstalled="false"
selectedLangs="[English, German]"
s_Httpport="8090"
s_Shutdownport="8092"
s_Redirectport="8091"
s_TLSPort="2320"
s_txtKeyStoreName="{{siebel_base_path}}/pki/keystore.jks"
s_txtKeyStorePassword="password"
s_txtKeyStoreType="JKS"
s_txtTrustStoreName="{{siebel_base_path}}/pki/truststore.jks"
s_txtTrustStorePassword="password"
s_txtTrustStoreType="JKS"
DEINSTALL_LIST={"oracle.siebel.ses","{{ siebel_version }}.0"}
SHOW_DEINSTALL_CONFIRMATION=true
