Allowstats=true
CnxnProtocol=TCPIP
Compress=None
ConfigMode=VERT
ConfigTask=ConfigureSWSELogical
ContLoginPassword=BUsBjlkAyegTpHm2rkyngwEAAG7M
ContLoginPasswordInput=guestcst
ContLoginUserName=GUESTCST
current_section=InitialSetup
current_step=TLSSSLConfiguration
DeployedLanguage=enu
DisableNagle=False
DoCompression=true
DoubleQuote="
EmplLoginPassword=J3OOgPiOyeVAAggiSusWJQEAAGJX
EmplLoginPasswordInput=guesterm
EmplLoginUserName=GUESTERM
Encrypt=None
EncryptSWSEPW=false
EnterpriseServer=SBA_82
first_section=InitialSetup
first_step=MainTask
FQDNFlag=False
FQDNValue={{ ansible_hostname }}
GatewayAddress=
GatewayCreateDefaultRead=
GatewayUseDefaultRead=
GuestSessionTimeout=300
HostName={{ ansible_hostname }}
LogMaxSegments=0
LogSegmentSize=0
LogState=errors
MainTask=Create
MSSQL_DRIVER_NAME=SQL Server Native Client 11.0
OperatingSystem=aix
OSDirSeparator=/
OSType=ppc
PrimaryLanguage=enu
RequestComponent=SRMSynch
RequestServer=
SessionMonitorState=False
SessionTimeout=900
SiebelBinDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/bin
SiebelDbsrvrRoot={{siebel_base_path}}/gw/16.0.0.0.0/ses/dbsrvr
SiebelEncryption=
SiebelEnterprise=SBA_82
SiebelHome={{siebel_base_path}}/gw/16.0.0.0.0/ses
SiebeLibDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/lib
SiebelInstalledDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr
SiebelLanguage=ENU
SiebelLogArch=
SiebelLogDir=
SiebelLogEvents=
SiebelLogFile=
SiebelMaxThreads=
SiebelMsgDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/locale/enu
SiebelPassword=
SiebelProgName=
SiebelRoot={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr
SiebelRootParm=-r {{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr
SiebelTableOwner=
SiebelTempDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/temp
SiebelUser=
SiebelVersion=16.0.0.0SIA[23057]ENU
StatsPage=_stats.swe
SWSEServer={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/admin/Webserver
tcEappHttpPort=80
tcEappHttpsPort=443
TLSSSLConfiguration=None
TraceLevel=1
TrustToken=
UnicodeEnable=
Vertical_Extension=_sia
