AutostartCmdLineParam=yes
CacheAutostartCmdLineParam=yes
CoherenceSrvrAutostart=true
CoherenceSrvrAutostartnow=true
ConfigMode=VERT
ConfigTask=ConfigureGateway
current_section=
current_step=PrimaryLanguage
DoubleQuote="
EnterpriseCreateDefault=SBA_82
EnterpriseServer=default
EnterpriseUseDefault=SBA_82
first_section=InitialSetup
first_step=MainTask
Gateway={{ ansible_hostname }},{{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/admin/siebns.dat
GatewayAddress={{ ansible_hostname }}:2320
GtwyVersionString=16.0.0.0SIA[23057]ENU
HostName={{ ansible_hostname }}
MainTask=Create
MSSQL_DRIVER_NAME=SQL Server Native Client 11.0
NameserverHostName={{ ansible_hostname }}
NamesrvrAutostart=true
NamesrvrPortPick=2320
NamesrvrStartnow=true
OperatingSystem=aix
OSDirSeparator=/
OSType=ppc
PrimaryLanguage=enu
RequestComponent=SRMSynch
RequestServer={{ ansible_hostname }}
SiebelBinDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/bin
SiebelDbsrvrRoot={{siebel_base_path}}/gw/16.0.0.0.0/ses/dbsrvr
SiebelEncryption=
SiebelEnterprise=default
SiebelGateway={{ ansible_hostname }}:2320
SiebelGatewayCfg={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/admin/siebns.dat::NSFILE:
SiebelHome={{siebel_base_path}}/gw/16.0.0.0.0/ses
SiebeLibDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/lib
SiebelInstalledDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr
SiebelLanguage=ENU
SiebelLogArch=
SiebelLogDir=
SiebelLogEvents=
SiebelLogFile=
SiebelMaxThreads=
SiebelMsgDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/locale/enu
SiebelPassword=
SiebelProgName=
SiebelRoot={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr
SiebelRootParm=-r {{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr
SiebelTableOwner=
SiebelTempDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/temp
SiebelUser=
SiebelVersion=16.0.0.0SIA[23057]ENU
TraceLevel=1
UnicodeEnable=
Vertical_Extension=_sia
