RESPONSEFILE_VERSION=2.2.1.0.0
s_shiphomeLocation="{{ software_repository_path }}/siebel-{{target_platform}}-{{ siebel_version }}/Siebel_Install_Image/{{ siebel_version }}/AIX/Server/Siebel_Enterprise_Server/Disk1"
FROM_LOCATION="{{ software_repository_path }}/siebel-{{target_platform}}-{{ siebel_version }}/Siebel_Install_Image/{{ siebel_version }}/AIX/Server/Siebel_Enterprise_Server/Disk1/stage/products.xml"
s_topLevelComp="oracle.siebel.ses"
s_SiebelVersion="16.0.0.0.0"
s_installType="New Installation"
ORACLE_HOME="{{siebel_base_path}}/gw/16.0.0.0.0/ses"
ORACLE_HOME_NAME="SES_HOME"
b_isGatewayInstalled="true"
b_isSiebsrvrInstalled="false"
b_isDBInstalled="false"
b_isEAIInstalled="false"
## Warning: Do not check LDAP Client option if Oracle Database Client has been pre-installed. Use the existing Oracle Database Client for LDAP configuration for Siebel.
b_isLDAPInstalled="false"
selectedLangs="[English, German]"
DEINSTALL_LIST={"oracle.siebel.ses","16.0.0.0.0"}
SHOW_DEINSTALL_CONFIRMATION=true