CFGSharedModeUsersDir={{siebel_base_path}}/sfs/userpref
ConfigMode=VERT
ConfigTask=ConfigureEnterprise
ConnectorDll=sscdo90
ConnectString=orcl
CreateDisabled$$SiebCompGroups$$=FALSE
CreateDisabled$$SiebCompGroupsSIA$$=FALSE
current_section=
current_step=ModifyEntTask
CurrentRegistryRoot=HKEY_LOCAL_MACHINE
DatabasePlatform=OracleCBO
DBConnectString=orcl
DBPlatformAttrib=OracleCBO
DBTableOwnerParam=SIEBEL
DBUsername=SADMIN
DBUsernameParam=SADMIN
DBUserpasswd=nimdas
DbXtractFileSystem={{siebel_base_path}}/sfs
DefaultDataSource=ServerDataSrc
DoubleQuote="
EIMFileSystem={{siebel_base_path}}/sfs
EnterpriseDesc=SBA_82 Enterprise
EnterpriseServer=SBA_82
EntVersionString=16.0.0.0SIA[23057]ENU
EntVertical=sia
first_section=InitialSetup
first_step=MainTask
GatewayAddress={{ ansible_hostname }}:2320
GatewayCreateDefaultRead=SBA_82
GatewayLastEnterprise=SBA_82
GatewayUseDefaultRead=SBA_82
GenNewDbFileSystem={{siebel_base_path}}/sfs
HostName={{ ansible_hostname }}
InstallDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr
MainTask=Create
MaxCursorSize=-1
ModifyEntTask=
MSSQL_DRIVER_NAME=SQL Server Native Client 11.0
NameserverHostName={{ ansible_hostname }}
NamesrvrPort=2320
ODBCConnectStringParam=SBA_82_DSN
ODBCDataSource=SBA_82_DSN
ODBCEntDriver={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/lib/SEor827.so
OperatingSystem=aix
OSDirSeparator=/
OSType=ppc
Password=nimdas
PDbXtractFileSystem={{siebel_base_path}}/sfs
PrefetchSize=-1
PropagateGatewayAuthentication=true
RepAgentFileSystem={{siebel_base_path}}/sfs
RequestComponent=SRMSynch
RequestServer={{ ansible_hostname }}
SecAdptDllName=sscfsadb
SecAdptMode=DB
SecAdptName=DBSecAdpt
ServerFileSystem={{siebel_base_path}}/sfs
SetConnectStringAttrib=orcl
SetEnterpriseDesc=SBA_82 Enterprise
SibelAnyDesc=SQL Anywhere
SiebCompGroups=ADM,Sales,eChannel,CallCenter,FieldSvc,Remote,RTSRemote,AsgnMgmt,CommMgmt,DandB,DataQual,DCommerce,EAI,eDocuments,IComp,ContCtr,MktgOM,MktgSrv,SiebAnywhere,S2S,Search,SAP,ORCL,ISS,Workflow,HandheldSync,SalesHierSvc,FcstSvc,CreditAsgn,CRA,RTI,TaskUI,XMLPReport,MobileSync
SiebCompGroupsSIA=HandheldSyncSIS,eAutomotive,HTIM,LifeSciences,Communications,Loyalty,LoyaltyEngine,Hospitality,eConsumer,SISME,Fins,UCM,PublicSector
SiebelAnyDB={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/dbtempl/siebel.dbf
SiebelAnyDriver={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/SYBSsa90/lib/libdbodbc9.so
SiebelBinDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/bin
SiebelDbsrvrRoot={{siebel_base_path}}/gw/16.0.0.0.0/ses/dbsrvr
SiebelEncryption=
SiebelEnterprise=SBA_82
SiebelGateway={{ ansible_hostname }}:2320
SiebelHome={{siebel_base_path}}/gw/16.0.0.0.0/ses
SiebeLibDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/lib
SiebelInstalledDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr
SiebelLanguage=ENU
SiebelLogArch=
SiebelLogDir=
SiebelLogEvents=
SiebelLogFile=
SiebelMaxThreads=
SiebelMsgDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/locale/enu
SiebelPassword=
SiebelProgName=
SiebelRoot={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr
SiebelRootParm=-r {{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr
SiebelTableOwner=
SiebelTempDir={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/temp
SiebelUser=
SiebelVersion=16.0.0.0SIA[23057]ENU
SqlStyle=OracleCBO
TableOwner=SIEBEL
Trace=0
TraceDll={{siebel_base_path}}/gw/16.0.0.0.0/ses/gtwysrvr/lib/SEtrc27.so
TraceFile=odbctrace.out
TraceLevel=1
TxnMergeFileSystem={{siebel_base_path}}/sfs
TxnProcFileSystem={{siebel_base_path}}/sfs
TxnRouteFileSystem={{siebel_base_path}}/sfs
UnicodeEnable=
UnixOracleDb2DriverName=MERANT 7.1 Oracle 12 Driver
UseMS=False
UseOracleConnector=True
Username=sadmin
Vertical_Extension=_sia