imageVersion="{{ siebel_version }}"
imageDirectory="{{ siebel_repository_path }}/siebel-{{ siebel_version }}/Siebel_Install_Image"
platformList={Linux}
productList={Automated_Test_Scripts,ORACLE_LDAP_Client,Remote_Diagnostic_Agent,Siebel_Enterprise_Server,Siebel_Web_Server_Extension,UPT_Analytics}
languageList={ENU,DEU}

