oracle.server|S_SYSPASSWORD=Oracle§1234
oracle.server|S_SYSTEMPASSWORD=Oracle§1234
oracle.server|S_EMADMINPASSWORD=Oracle§1234
oracle.server|S_DBSNMPPASSWORD=Oracle§1234
oracle.server|S_ASMSNMPPASSWORD=Oracle§1234
oracle.server|S_PDBADMINPASSWORD=Oracle§1234
